@layer utilities {
	.text-7xl-custom {
		font-size: 70px;
	}
	.container-custom {
		max-width: 1648px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.max-w-xl-custom {
		max-width: 535px;
	}
}

@layer utilities {
	.text-32-custom {
		font-size: 32px;
	}

	.ms-tb {
		margin-top: 158px;
		margin-bottom: 203px;
	}
}

@layer base {
	:root {
		--custom-yellow: #fec813;
	}
}

#before-after-slider {
	width: 100vw;
	height: 940px;
	position: relative;
	overflow: hidden;
	border: 3px solid white;
}

.before-after-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

#after-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#before-image {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 2;
}

#resizer {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 4px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	cursor: ew-resize;
	transform: translateX(-50%);
}

#resizer::after {
	content: '';
	background-image: url('../images/enjoy-falling/resizer.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	width: 64px;
	height: 64px;
}
